# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# idea
.idea

# vs
.vs

# Generated JS
*.js
/nbproject/private/

# Generated js.map
*.js.map

# Index.js
!index.js