# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# IDE
.idea
.vscode
.vs

.DS_Store
.eslintcache

# Dist
dist
